
.clothing {
    @extend .row;
    
    margin-bottom: 45px;
}

.clothing-image {
    @extend .col-sm-6;
    
    img {
        width: 100%;
        
        @media (max-width: $screen-sm-max) {
            width: auto;
            max-width: 100%;
            margin: 0 auto;
        }
    }
}

.clothing-texts {
    @extend .col-sm-6;
    
    padding-top: 55px;
    
    @media (max-width: $screen-sm-max) {
        padding-top: 15px;
    }
}

.clothing-brand {
    max-width: 200px;
    max-height: 100px;
}

.clothing-name {
    margin-top: 35px;
    width: 245px;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 65px;
    
    @media (max-width: $screen-sm-max) {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
