.kitsList {
    margin: 0;
    padding: 0;
    margin-top: 50px;
}

.kitsList-kit {
    margin: 2px;
    padding: 10px 10px 0;
    width: -webkit-calc(33% - 6px);
    width: calc(33% - 6px);
    display: inline-block;
    vertical-align: top;
    border: 1px solid #c09e7a;
    list-style: none;
    
    @media (max-width: 480px) {
        width: -webkit-calc(50% - 6px);
        width: calc(50% - 6px);
    }
}

.kitsList-link { display: block; }

.kitsList-image { width: 100%; }

.kitsList-name { padding: 10px 15px; }

.kitsList-date {
    font-size: 16px;
    color: red;
    font-weight: 400;
    padding: 0 15px 10px;
}
