
.modal-title {
    font-size: 30px;
    color: $gold;
    line-height: 32px;
}

.modal-body { font-size: 15px; }

.modal-subtitle {
    font-size: 24px;
    color: $gold;
    line-height: 26px;
    margin-top: 50px;
    
    &:first-child { margin-top: 0; }
}
