
$mosaic-middleImage-width: 260px;
$mosaic-middleImage-border: 45px;

.mosaic {
    @extend .layout-noPaddingContainer;
    
    margin-bottom: 150px;
    
    @media (max-width: $screen-xs-max) {
        margin-bottom: 75px;
    }
}

.mosaic-firstImage {
    @extend .col-sm-6;
    
    float: none;
    display: inline-block;
    vertical-align: bottom;
    padding-right: 45px;
    position: relative;
    overflow: hidden;
    
    &:after {
        content: ' ';
        display: block;
        position: absolute;
        bottom: 175px;
        right: 0;
        height: 100%;
        width: 1px;
        background: #c7c7c7;
    }
    
    img { width: 100%; }
    
    @media (max-width: $screen-sm-max) {
        padding-right: 15px;
        float: left;
        
        &:after {
            content: '';
            display: none;
        }
    }
    
    @media (max-width: $screen-xs-max) {
        float: none;
        max-width: 400px;
        margin: 0 auto 20px;
        display: block;
    }
}

.mosaic-firstText {
    @extend .col-sm-6;
    
    float: none;
    display: inline-block;
    vertical-align: bottom;
    padding-left: 85px;
    padding-right: 145px;
    
    p {
        margin-bottom: 23px;
        font-size: 15px;
    }
    
    a { text-decoration: underline; }
    
    strong { font-weight: 400; }
    
    @media (max-width: $screen-md-max) {
        padding-left: 45px;
        padding-right: 15px;
    }
    
    @media (max-width: $screen-sm-max) {
        padding-left: 15px;
        float: none;
        display: block;
        width: 100%;
        
        *:first-child { margin-top: 0; }
    }
}

.mosaic-firstTextTitle {
    text-transform: uppercase;
    font-size: 16px;
}

.mosaic-middleImage {
    position: relative;
    height: 80px;
    
    img {
        position: absolute;
        width: $mosaic-middleImage-width + ($mosaic-middleImage-border * 2);
        left: 50%;
        margin-left: -($mosaic-middleImage-width + $mosaic-middleImage-border);
        top: -(($mosaic-middleImage-width / 2) + $mosaic-middleImage-border);
        border: $mosaic-middleImage-border solid rgba(255, 255, 255, 0.5);
        z-index: 1;
    }
    
    @media (max-width: $screen-sm-max) {
        height: 30px;
        
        img { display: none; }
    }
    
    @media (max-width: $screen-xs-max) {
        display: none;
    }
}

.mosaic-secondText {
    @extend .col-sm-4;
    
    float: none;
    display: inline-block;
    vertical-align: middle;
    padding-right: 30px;
    text-align: right;
    
    p { font-size: 15px; }
    
    @media (max-width: $screen-md-max) {
        margin-top: 31px;
    }
    
    @media (max-width: $screen-sm-max) {
        margin-top: 0;
    }
    
    @media (max-width: $screen-xs-max) {
        br { display: none; }
    }
}

.mosaic-secondImage {
    @extend .col-sm-8;
    
    float: none;
    display: inline-block;
    vertical-align: middle;
    
    img { width: 100%; }
}
