
@font-face {
    font-family: 'Geomanist';
    src: url('../../fonts/Geomanist-Thin.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Geomanist-Thin.otf')  format('opentype'),
         url('../../fonts/Geomanist-Thin.woff') format('woff'),
         url('../../fonts/Geomanist-Thin.ttf')  format('truetype'),
         url('../../fonts/Geomanist-Thin.svg#Geomanist-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: url('../../fonts/GeomanistExtraLight.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/GeomanistExtraLight.woff') format('woff'),
         url('../../fonts/GeomanistExtraLight.ttf')  format('truetype'),
         url('../../fonts/GeomanistExtraLight.svg#GeomanistExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: url('../../fonts/GeomanistLight.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/GeomanistLight.woff') format('woff'),
         url('../../fonts/GeomanistLight.ttf')  format('truetype'),
         url('../../fonts/GeomanistLight.svg#GeomanistLight') format('svg');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Geomanist';
    src: url('../../fonts/GeomanistBook.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/GeomanistBook.woff') format('woff'),
         url('../../fonts/GeomanistBook.ttf')  format('truetype'),
         url('../../fonts/GeomanistBook.svg#GeomanistBook') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: url('../../fonts/GeomanistMedium.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/GeomanistMedium.woff') format('woff'),
         url('../../fonts/GeomanistMedium.ttf')  format('truetype'),
         url('../../fonts/GeomanistMedium.svg#GeomanistMedium') format('svg');
    font-weight: 600;
    font-style: normal;
}
